---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: route-whisperer
  namespace: route-whisperer
rules:
  - apiGroups:
      - ''
    resources:
      - configmaps
    verbs:
      - create
      - get
      - list
      - update
      - watch
